<!DOCTYPE html>
<head>
    <title>LightningGPT Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script>
        async function fetchAnswer(authorizationHeader) {
            const question = document.querySelector("#questionInput").value;

            const headers = {
                "Content-Type": "application/json"
            };

            if (authorizationHeader) {
                headers["Authorization"] = authorizationHeader;
            }

            const response = await fetch("https://matador-rs.kody.repl.co/openai/v1/chat/completions", {
                method: "POST",
                headers: headers,
                body: JSON.stringify({
                    "model": "gpt-3.5-turbo",
                    "messages": [{
                        "role": "system",
                        "content": "You are a helpful assistant."
                    }, {
                        "role": "user",
                        "content": question
                    }]
                })
            });

            return response;
        }

        async function askQuestion() {
            let response = await fetchAnswer();

            if (response.status === 402) {
                const authHeader = response.headers.get("Www-Authenticate");
                const tokenMatch = authHeader.match(/token="([^"]+)"/);
                const invoiceMatch = authHeader.match(/invoice="([^"]+)"/);

                const token = tokenMatch ? tokenMatch[1] : null;
                const invoice = invoiceMatch ? invoiceMatch[1] : null;

                try {
                    console.log("Invoice:", invoice)
                    await window.webln.enable();
                    const { preimage } = await window.webln.sendPayment(invoice);
                    const L402Auth = `L402 ${token}:${preimage}`;
                    response = await fetchAnswer(L402Auth);
                } catch (err) {
                    console.error(err);
                    alert("Error with WebLN payment.");
                }
            }

            const data = await response.json();
            document.querySelector(".result").textContent = data.choices[0].message.content || "Error getting response.";
        }
    </script>
</head>

<body>
    <h3>LightningGPT &#9889; - Ask a question</h3>
    <input type="text" id="questionInput" placeholder="Enter question" required />
    <button onclick="askQuestion()">Get answer</button>

    <div class="result"></div>
</body>
</html>
